pipeline/Get_Data_From_Sharepoint.json
{
	"name": "Get_Data_From_Sharepoint",
	"properties": {
		"activities": [
			{
				"name": "Get Bearer Token",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://accounts.accesscontrol.windows.net/5b703e6a-eac8-44b7-9c04-356bd60d435d/tokens/OAuth/2",
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": "grant_type=client_credentials&client_id=23cc7221-b128-4970-b24c-5e5d703676f5@5b703e6a-eac8-44b7-9c04-356bd60d435d&client_secret=eBe8Q~bj1u5QEMlmGqLCB3S1iVPFvfUASR4fUceh&resource=00000003-0000-0ff1-ce00-000000000000/lucasmonroecouk.sharepoint.com@5b703e6a-eac8-44b7-9c04-356bd60d435d"
				}
			},
			{
				"name": "Copy data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Bearer Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET",
							"additionalHeaders": {
								"value": "@{concat(\n    'Authorization:Bearer ', activity('Get Bearer Token').output.access_token\n)}",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_SP_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_DL_Staging",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}